stages:
  - build
  - release
  - deploy

variables:
  IMAGE_TAG: latest
  IMAGE_NAME: elfin_test

.build:
  stage: build
  tags: 
    - elfin_docker
  image:
    name: gcr.io/kaniko-project/executor:v1.9.1-debug
    entrypoint: [""]
  script:
    - echo "test"
    - /kaniko/executor
      --cache-run-layers
      --cache-copy-layers
      --context "${CI_PROJECT_DIR}"
      --dockerfile "${CI_PROJECT_DIR}/Dockerfile"
      --destination "${CI_REGISTRY_IMAGE}/test_task:${CI_COMMIT_SHA}"

build_image:
  stage: build
  tags:
    - elfin_docker
  script:
    - docker build -t "${IMAGE_NAME}:${CI_COMMIT_SHA}" .

push2registry:
  stage: release
  tags:
    - elfin_docker
  before_script:
    - echo -n "${REMOTE_REGISTRY_PASS}"| docker login -u "${REMOTE_REGISRTY_USER}" --password-stdin "${REMOTE_REGISTRY}"
  script:
    - docker tag "${IMAGE_NAME}:${CI_COMMIT_SHA}" "${REMOTE_REGISTRY}:${IMAGE_TAG}"
    - docker push "${REMOTE_REGISTRY}:${IMAGE_TAG}"

deploy2k8s:
  stage: deploy
  tags:
    - elfin_docker
  image: alpine/helm:3.12.0
  before_script:
    - cat ${KUBECONFIGFILE} > ~/.kube/config
  script:
    - helm upgrade --install --atomic test_task ./helm/test_task
